.button {
  cursor: pointer;
  align-self: flex-end;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: $form-link-color;
  border: none;
  border-radius: 3px;
  background-color: $bg-light-color;
  padding: 1.3em 3.2em;
  transition: .3s;

  &:hover {
    color: #535e66;
    box-shadow: 1px 1px 8px 1px #e5e5e5;
  }
}